@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}



@media (max-width: 1000px){

    #map{
        display: flex;
        height: 100vh;
        width: 100%;
    }

    .mobileTopBar{
        display: flex;
        align-items: center;
        background-color: rgb(57, 57, 57);
        color: white;
    }
    .mobileTopBar h1{
        margin: 5%;
        font-size: 120%;
    }
    .mobileTopBar img{
        margin: 4%;
        cursor: pointer;
    }



    .container{
        display: flex;
        flex-direction: column;
    }

   
    
    .sideNav{
        display: flex;
        flex-direction: column;
        list-style: none;
        text-decoration: none ;
        background-color: rgb(53, 53, 53);
        height: 200vh;
        width: 100%;
        transition: 2s;
    }
    
    



    
    .sideNav h1{
        margin-top: 5%;
        margin-left: 10%;
        color: rgb(255, 255, 255);
        font-size: 140%; 
        font-weight: 600;
    }
    .sideNav h1:hover{
        color: rgb(255, 255, 255);
        font-size: 200%;
        background-color: rgb(72, 72, 72);
        border-radius: 5%;
    }
    
    .sideNav p{
        color: white;
        font-size: 100%;
        margin-left: 15%;
        margin-right: 8%;
        margin-bottom: 5%;
        margin-top: 3%;
    }
    
    .checkBoxes{
        display: flex;
        flex-direction: column;
        margin-top: 10%; 
        border-radius: 3%;   
        margin-right: 10%;
        margin-left: 10%;
        min-height: 100vh;
    }
    
    .checkBoxes div{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
        max-height: 7vh;
        background-color: rgb(71, 71, 71);
    }
    
    .checkBoxes div p{
        margin-left: 5%;
    }
    
    .checkBoxes div img{
        max-height: 50%;
        max-width: 50%;
        margin-left: 5%;
    } 

    
}

@media (min-width: 1001px){

    #map{
        height: 100vh;
        width: 88%;
        height: 92vh;
        transition: .7s;
    }

    .mobileTopBar{
        display: flex;
        align-items: center;
        background-color: rgb(57, 57, 57);
        color: white;
        min-height: 8vh;
        max-height: 8vh;
    }
    .mobileTopBar p{
        margin-bottom: 2%;
        margin-top: 2%;
        font-size: 150%;
    }
    .mobileTopBar img{
        margin: 1.7%;
        cursor: pointer;
        width: 2%;
        height: 2%;
    }

    .container{
        display: flex;
        flex-direction: row;
    }

    .sideNav{
        display: flex;
        flex-direction: column;
        text-decoration: none ;
        background-color: rgb(53, 53, 53);
        height: 92vh;
        width: 12%;
        transition: .7s;
    }
    
    .sideNav h1{
        margin: 10%;
        margin-bottom: 0%;
        padding: 5%;
        color: rgb(255, 255, 255);
        font-size: 145%;
        transition: .4s;
        user-select: none;
        font-weight: 600;
    }
    
    .sideNav h1:hover{
        color: rgb(255, 255, 255);
        font-size: 170%;
        background-color: rgb(72, 72, 72);
        border-radius: 5%;
    }
    
    .sideNav p{
        color: white;
        font-size: 100%;
        margin-left: 15%;
        margin-right: 8%;
    }

    
    .checkBoxes{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        background-color: rgb(71, 71, 71); 
        border-radius: 3%;   
        margin-right: 10%;
        margin-left: 10%;
    }
    
    .checkBoxes div{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10%;
        padding-top: 2%;
        padding-bottom: 2%; 
        max-height: 6vh;
        min-height: 6vh;
    }
    
    .checkBoxes div p{
        margin-left: 5%;
    }
    
    .checkBoxes div img{
        height: 45%;
        margin-left: 5%;
    }
}

